
body {
  font-family: 'Montserrat', sans-serif;   
  overflow: hidden; 
}

body,
html {
  position: fixed;
}

.input-button-container {
  display: flex;
  margin: 10px;
}
h2{
  text-transform: uppercase;
}
h3{
  font-weight: unset;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.content{
  width: fit-content;
  margin: 1px;
  text-align: center;
}
button{
  border-radius: 0px 5px 5px 0px;
  border: 0;
  background-color: #85bd44;
  color:white;
  border-color:#556740;
  height: 5vh;
  padding: 0px 10px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.button-container{
  align-self: center;
  text-align: center;
}
input{
  width:90%;
  border-radius: 5px 0px 0px 5px;
  height: 5vh;
  border:0;
  padding: 0px 10px;
}
.covid-paragraph{
  color:red;
  display: inline;
}

span{
  color:red;
}

/* mobile */
@media screen and (max-width:375px){
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 14px; 
  }
  span {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width:768px){
  input{
    font-size: 15px;
    height: 5vh;
  }
  button{
    font-size: 15px;
  }
}
