<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Get Latest COVID-19</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <style>
    .background {
      background-image: linear-gradient( #7b9c7d8c, rgb(31 33 31 / 0%) ), url('{{ url_for('static',filename='img/background.png') }}');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      filter: blur(2px);
    }
  </style>
</head>
<body>
  <section class="background">
  </section>
    <div class="container">
      <div class="content">
        <form action="/submit" method="POST">
          <div class="title-container">
            <h2>Get The Latest <p class="covid-paragraph">COVID-19</p> status emailed to you!</h2>
          </div>
          <h3>Enter your email & press send. </h3>
          <div class="input-button-container">
            <input type="email" name="email" id="email" value="" placeholder="Enter your email here" required>
            <div class="button-container">
              <button type="submit" id="button" name="button">Send</button>
            </div>
          </div>
          {% if message %}
          <span style="color:{{color}};">{{ message }}</span>
          {% endif %}
          <span id="message"></span>
        </form>
      </div>
    </div>
  <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"> </script>
</body>

</html>